<% var restaurantNameLower = restaurantName.replace(" ", "-").toLowerCase(); %>
<div class="card <%= restaurantNameLower %> menu-list mb-3">
    <h3 class="card-header">
	<%= restaurantName %>
        <a class="link-icon" target="_blank" href="<%= userFriendlyUrl(restaurantNameLower) %>">
	    <span class="fa fa-globe pull-right" aria-hidden="true"></span>
	</a>
    </h3>
    <div class="card-block">
        <% var breakInfo = getBreakInfo(restaurantNameLower)%>
        <% if(isOnBreak(breakInfo)) {%>
            <div class="on-break">
                <h5><%= breakInfo.title %></h5>
                <p class="break-text"><%= breakInfo.text %></p>
                <p class="break-date">
                    <%= breakInfo.from %> - <%= breakInfo.to %>
                </p>
                <i class="fa <%= breakInfo.icon %> fa-2x" aria-hidden="true"></i>
            </div>
        <% } else { %>
            <% if (menu != null && menu.closed){ %>
            <div class="text-xs-center">
                <i class="fa fa-bed fa-2x info-icon" aria-hidden="true"></i><br>
                Heute leider geschlossen.
            </div>
            <% } else if (menu != null && menu.noMenu){ %>
            <div class="text-xs-center">
                <i class="fa fa-book fa-2x info-icon" aria-hidden="true"></i><br>
                Heute leider nur à la carte.
            </div>
            <% } else if (menu != null && menu.outdated){ %>
            <div class="text-xs-center">
                <i class="fa fa-calendar-times-o fa-2x info-icon" aria-hidden="true"></i><br>
                Das Lokal hat das aktuelle Wochenmenü zurzeit nicht auf seiner
                <a href="<%= userFriendlyUrl(restaurantNameLower) %>" target="_blank">Homepage</a>
                veröffentlicht.
            </div>
            <% } else if (menu == null || menu.error) { %>
            <div class="text-xs-center error">
                <i class="fa fa-frown-o fa-2x info-icon" aria-hidden="true"></i><br>
                <p>Leider konnten wir die Daten nicht abrufen.</p>
                <p>Sie sollten aber auf der <a href="<%= userFriendlyUrl(restaurantNameLower) %>" target="_blank">Homepage
                        des Restaurants</a> stehen.<br></p>
                <p>Wir kümmern uns bald darum! <i class="fa fa-smile-o fa-fw" aria-hidden="true"></i></p>
            </div>
            <% } else { %>
            <% if(menu.starters.length) { %>
                <ul class="list-group menu-list-group starters">
                    <% menu.starters.forEach(function (starter) { %>
                    <li class="list-group-item"><%= starter.name %></li>
                    <% }); %>
                </ul>
            <% } %>
            <% if(menu.mains.length) { %>
            <ul class="list-group menu-list-group mains">
                <% menu.mains.forEach(function (main) { %>
                <li class="list-group-item">
		    <div class="d-flex flex-row">
		    <div><span class="menu-name">
                       <%= main.name %>
                    </span></div>
		    <% if(main.price != null) { %>
                        <div><span class="badge badge-default badge-pill price-pill pull-right"><%= main.price + " €" %></span></div>
                    <% }%>
		    </div>
                </li>
                <% }); %>
            </ul>
            <% } %>
            <% } %>
        <% } %>
    </div>
</div>
