<% day = day % 7 %>
<div class="weekday-container">
    <div class="row">
        <div class="col-12 weekday-header">
            <span class="weekday">
                <%= timeHelper.weekDayName(day) %>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-12">
            <%- include('combined-menu-list', {restaurantName: 'Mensa', menu: mensa ? mensa[day] : null}) %>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12">
            <%- include('menu-list', {restaurantName: 'Uniwirt', menu: uniwirt ? uniwirt[day] : null}) %>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12">
            <%- include('menu-list', {restaurantName: 'Mittagstisch', menu: mittagstisch ? mittagstisch[day] : null}) %>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-12">
            <%- include('menu-list', {restaurantName: 'Uni-Pizzeria', menu: uniPizzeria ? uniPizzeria[day] : null}) %>
        </div>
    </div>
</div>
