<% day = day % 7 %>
<div class="weekday-container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 weekday-header">
            <span class="weekday">
                <span class="nav-icon left top pull-left">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </span>
                <%= weekDayName(day) %>
                <span class="nav-icon right top pull-right">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <%- include('combined-menu-list', {restaurantName: 'Mensa', menu: mensa ? mensa[day] : null}) %>
        </div>
        <div class="col-lg-3">
            <%- include('menu-list', {restaurantName: 'Uniwirt', menu: uniwirt ? uniwirt[day] : null}) %>
        </div>
        <div class="col-lg-3">
            <%- include('menu-list', {restaurantName: 'Mittagstisch', menu: mittagstisch ? mittagstisch[day] : null}) %>
        </div>
        <div class="col-lg-3">
            <%- include('menu-list', {restaurantName: 'Uni Pizzeria', menu: uniPizzeria ? uniPizzeria[day] : null}) %>
        </div>
    </div>
</div>