<div class="card <%= restaurantName.toLowerCase() %> combined-menu-list">
    <h3 class="card-header"><%= restaurantName %></h3>
    <div class="card-block">
        <% if (menu.mains.length){ %>
        <% menu.mains.forEach(function(singleMenu, index){ %>
        <span class="label label-default label-pill price-pill pull-xs-right"><%= singleMenu.price + " €" %></span>
        <h5><%= (index < 2) ? "Menü Classic " + (index + 1) : "Tagesteller" %></h5>
        <ul class="list-group menu-list-group">
            <% singleMenu.name.forEach(function(menuItem){ %>
            <li class="list-group-item"><%= menuItem %></li>
            <% }); %>
        </ul>
        <% });
        } else{ %>
        Heute leider geschlossen.
        <% } %>
    </div>
</div>