<% var title = 'AAU Food: Wochenplan'; %>
<% include partials/header.ejs %>

<style>
    body {
        background: none;
    }

    table {
        font-size: 8pt;
    }

    th {
        text-align: center;
    }

    .new-page {
        page-break-after: always;
    }

    td > .name {
        /*transform: rotate(-90deg);*/
        /*text-align: right;*/
        /*vertical-align: inherit;*/
        font-weight: bold;
        color: white;
    }

    table td, table td * {
        vertical-align: top;
    }

    @media print {
        @page {size: landscape}
        .namecol {
            vertical-align: middle !important;
            background-color: white !important;
        }
        td > .name {
            display: flex;
            -webkit-transform: rotate(-90deg);
            text-align: right;
            vertical-align: inherit;
            font-weight: bold;
            color: black;
        }
        .print-hidden {
            display: none;
        }
    }

    .mensa .namecol {
        box-shadow: inset 0 0 0 1000px #f49900;
    }

    .uniwirt .namecol {
        background: #800768;
    }

    .mittagstisch .namecol {
        background: #5fb127;
    }

    .uni-pizzeria .namecol {
        background: #2336B1;
    }

</style>
<div class="d-flex flex-column align-items-start">
    <a class="mt-1 ml-1 text-muted btn btn-outline-secondary btn-sm print-hidden" href="/">Zurück zur Tagesansicht</a>
    <h2 class="mx-auto">Wochenplan
        <%= moment().day(1).format('DD.MM') %> - <%= moment().day(7).format('DD.MM.YYYY') %> </h2>
</div>

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Montag</th>
        <th>Dienstag</th>
        <th>Mittwoch</th>
        <th>Donnerstag</th>
        <th>Freitag</th>
    </tr>
    </thead>
    <tbody>
    <tr class="mensa">
        <td class="namecol"><span class="name">Mensa</span></td>

        <% for(let i = 0; i < 6; i++) { %>
        <td>
            <ul>
                <% mensa[i].mains.forEach(function (menu) { %>
                <% menu.name.forEach(function (name) { if (name!="") { %>
                <li><%= name %></li>
                <% }}); %>
                <br>
                <% }); %>
            </ul>
        </td>
        <% } %>
    </tr>

    <tr class="uniwirt">
        <td class="namecol"><span class="name">Uniwirt</span></td>

        <% for(let i = 0; i < 6; i++) { %>
        <td>
            <ul class="starters">
                <% uniwirt[i].starters.forEach(function (food) { if (food.name!="") { %>
                <li><%= food.name %></li>
                <% }}); %>
            </ul>

            <ul class="mains">
                <% uniwirt[i].mains.forEach(function (food) { if (food.name!="") { %>
                <li><%= food.name %></li>
                <% }}); %>
            </ul>
        </td>
        <% } %>
    </tr>

    <tr class="mittagstisch">
        <td class="namecol"><span class="name">Mittagstisch</span></td>

        <% for(let i = 0; i < 6; i++) { %>
        <td>
            <ul class="starters">
                <% mittagstisch[i].starters.forEach(function (food) { if (food.name!="") { %>
                <li><%= food.name %></li>
                <% }}); %>
            </ul>

            <ul class="mains">
                <% mittagstisch[i].mains.forEach(function (food) { if (food.name!="") { %>
                <li><%= food.name %></li>
                <% }}); %>
            </ul>
        </td>
        <% } %>
    </tr>
    <tr class="uni-pizzeria">
        <td class="namecol"><span class="name">Uni-Pizzeria</span></td>

        <% for(let i = 0; i < 6; i++) { %>
        <td>
            <ul class="starters">
                <% uniPizzeria[i].starters.forEach(function (food) { if (food.name!="") { %>
                <li><%= food.name %></li>
                <% }}); %>
            </ul>

            <ul class="mains">
                <% uniPizzeria[i].mains.forEach(function (food) { if (food.name!="") { %>
                <li><%= food.name %></li>
                <% }}); %>
            </ul>
        </td>
        <% } %>
    </tr>
    </tbody>
</table>

</body>
</html>