<!-- Parameters: menu -->
<%- include('starters', { starters: menu.starters }) %>

<% if(menu.mains.length) { %>
    <ul class="list-group menu-list-group mains">
        <% menu.mains.forEach(function (main, index) { %>
            <li class="menu-title">
                <% if (!main.isInfo) { %>
                    <%= menu.mains.length > 1 ? `Menü ${index + 1}` : 'Menü' %>

                    <% if(main.price) { %>
                        <div class="price-tag">
                            <%= main.price + " €" %>
                        </div>
                    <% }%>
                <% } else { %>
                    Information
                <% } %>                
            </li>
            <li class="list-group-item">
                <%= main.name %>
                <% if(main.allergens) { %> 
                    <span class="allergens"><%= main.allergens %></span>
                <% } %>
            </li>
        <% }); %>
    </ul>
<% } %>

<%- include('info-elements', { infoElements: menu.infoElements }) %>