<div class="card {{restaurant}} combined-menu-list">
  {{yield}}
    <div class="card-block">

      {{#if dataLoaded}}
        {{#if menu.mains.length}}
          {{#each menu.mains as |singleMenu index|}}
            {{#if singleMenu}}
                <span class="label label-default label-pill price-pill pull-xs-right">{{format-euro singleMenu.price}}</span>
            {{/if}}
              <h5>{{format-mensa-menu index}}</h5>
              <ul class="list-group menu-list-group">
                {{#each singleMenu.name as |menuItem|}}
                    <li class="list-group-item">{{menuItem}}</li>
                {{/each}}
              </ul>
          {{/each}}
        {{else}}
            Heute leider geschlossen.
        {{/if}}
      {{else}}
        {{spinner-cube}}
      {{/if}}
    </div>
</div>