<div class="card {{restaurant}} menu-list">
  {{yield}}
    <div class="card-block">
      {{#if dataLoaded}}
        {{#if menu.mains.length}}
            <ul class="list-group menu-list-group">
              {{#each menu.starters as |starter|}}
                  <li class="list-group-item">{{starter.name}}</li>
              {{/each}}
            </ul>
            <ul class="list-group menu-list-group">
              {{#each menu.mains as |main|}}
                  <li class="list-group-item">
                    {{#if main.price}}
                        <span class="label label-default label-pill price-pill pull-xs-right">{{main.price}} €</span>
                    {{/if}}
                      <span class="menu-name">
                        {{main.name}}
                      </span>
                  </li>
              {{/each}}
            </ul>
        {{else}}
            Heute leider geschlossen.
        {{/if}}
      {{else}}
        {{spinner-cube}}
      {{/if}}
    </div>
</div>