<div class="card {{restaurant}}">
  {{yield}}
    <div class="card-block">
      {{#if dataLoaded}}
        {{#if menu.mains.length}}
            <ul>
              {{#each menu.starters as |starter|}}
                  <li>{{starter.name}}</li>
              {{/each}}
            </ul>
            <ul>
              {{#each menu.mains as |main|}}
                  <li>{{main.name}} : {{main.price}}</li>
              {{/each}}
            </ul>
        {{else}}
            Heute leider geschlossen.
        {{/if}}
      {{else}}
          <div class="text-center"><img src="/hourglass.gif"></div>
      {{/if}}
    </div>
</div>