<% var title = 'AAU Food: Wochenplan'; %>
<% include partials/common/header.ejs %>

<style>
    body {
        background: none;
    }

    .options * {
        margin-right: 10px;
    }

    ul {
        padding-left: 10px;
        list-style-type: none;
    }

    li {
        margin-bottom: 3px;
    }

    table {
        font-size: 8pt;
    }

    th {
        text-align: center;
    }

    .new-page {
        page-break-after: always;
    }

    .namecol {
        font-size: 13px;
    }

    td > .name {
        /*transform: rotate(-90deg);*/
        /*text-align: right;*/
        /*vertical-align: inherit;*/
        font-weight: bold;
    }

    table td, table td * {
        vertical-align: top;
    }

    .table table td {
        border-top: none;
        padding: 0;
    }

    @media print {
        @page {size: landscape}
        .namecol {
            vertical-align: middle !important;
            padding: 0.25rem !important;
        }
        td > .name {
            display: flex;
            -webkit-transform: rotate(-90deg);
            text-align: right;
            vertical-align: inherit;
            font-weight: bold;
            width: 2rem !important;
        }
        .print-hidden {
            display: none;
        }
    }
</style>
<div class="d-flex flex-column align-items-start">
    <div class="options d-flex flex-row align-items-center">
        <a class="mt-1 ml-1 btn btn-dark btn-sm print-hidden" href="/">Zur端ck zur Tagesansicht</a>

        <div class="custom-control custom-checkbox print-hidden">
            <input type="checkbox" class="custom-control-input" id="mensa" checked onclick="toggleRow('mensa');">
            <label class="custom-control-label" for="mensa">Mensa</label>
        </div>
        <div class="custom-control custom-checkbox print-hidden">
            <input type="checkbox" class="custom-control-input" id="uniwirt" checked onclick="toggleRow('uniwirt');">
            <label class="custom-control-label" for="uniwirt">Uniwirt</label>
        </div>
        <div class="custom-control custom-checkbox print-hidden">
            <input type="checkbox" class="custom-control-input" id="hotspot" checked onclick="toggleRow('hotspot');">
            <label class="custom-control-label" for="hotspot">Hotspot</label>
        </div>
        <div class="custom-control custom-checkbox print-hidden">
            <input type="checkbox" class="custom-control-input" id="uni-pizzeria" checked onclick="toggleRow('uni-pizzeria');">
            <label class="custom-control-label" for="uni-pizzeria">Uni-Pizzeria</label>
        </div>      
        <div class="custom-control custom-checkbox print-hidden">
            <input type="checkbox" class="custom-control-input" id="bits-and-bytes" checked onclick="toggleRow('bits-and-bytes');">
            <label class="custom-control-label" for="bits-and-bytes">Bits & Bytes</label>
        </div>       
    </div>
    <h2 class="mx-auto">Wochenplan
        <%= moment().day(1).format('DD.MM') %> - <%= moment().day(5).format('DD.MM.YYYY') %> </h2>
</div>

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Montag</th>
        <th>Dienstag</th>
        <th>Mittwoch</th>
        <th>Donnerstag</th>
        <th>Freitag</th>
    </tr>
    </thead>
    <tbody>
    <tr class="mensa">
        <td class="namecol"><span class="name">Mensa</span></td>

        <% for(let i = 0; i < 5; i++) { %>
        <td class="datacol">
            <ul>
                <% mensa[i].mains.forEach(function (menu) { %>
                <% menu.entries.forEach(function (menuItem) { if (menuItem.name !="") { %>
                <li><%= menuItem.name %></li>
                <% }}); %>
                <br>
                <% }); %>
            </ul>
        </td>
        <% } %>
    </tr>

    <tr class="uniwirt">
        <td class="namecol"><span class="name">Uniwirt</span></td>

        <% for(let i = 0; i < 5; i++) { %>
        <td class="datacol">
            <ul class="starters">
                <% uniwirt[i].starters.forEach(function (food) { if (food.name!="") { %>
                <li><%= food.name %></li>
                <% }}); %>
            </ul>

            <ul class="mains">
                <% uniwirt[i].mains.forEach(function (food) { if (food.name!="") { %>
                <li><%= food.name %></li>
                <% }}); %>
            </ul>
        </td>
        <% } %>
    </tr>

    <tr class="hotspot">
        <td class="namecol"><span class="name">Hotspot</span></td>

        <td class="datacol">
            <ul class="starters">
                <li><strong>Suppen f端r gesamte Woche</strong></li>
                <% hotspot[0].starters.forEach(function (food) { if (food.name!="") { %>
                <li><%= food.name %></li>
                <% }}); %>
            </ul>
        </td>
        <td class="datacol" colSpan="4">
            <table>
                <tr>
                    <td>
                        <ul class="mains">
                            <li><strong>Hauptspeisen f端r gesamte Woche</strong></li>
                            <% hotspot[0].mains.forEach(function (menu) { %>
                                <% if(menu.name == "Wochenhit") {%>
                                    <li><%=menu.entries[0].name %></li>
                                <%} else {%>
                                    <li><%= menu.name + " " + menu.entries[0].name %></li>
                                <%}%>
                            <% }); %>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="uni-pizzeria">
        <td class="namecol"><span class="name">Uni-Pizzeria</span></td>

        <% for(let i = 0; i < 5; i++) { %>
        <td class="datacol">
            <ul class="starters">
                <% uniPizzeria[i].starters.forEach(function (food) { if (food.name!="") { %>
                <li><%= food.name %></li>
                <% }}); %>
            </ul>

            <ul class="mains">
                <% uniPizzeria[i].mains.forEach(function (food) { if (food.name!="") { %>
                <li><%= food.name %></li>
                <% }}); %>
            </ul>
        </td>
        <% } %>
    </tr>
    <tr class="bits-and-bytes">
        <td class="namecol"><span class="name">Bits & Bytes</span></td>
        <td class="datacol" colSpan="5">
            <table>
                <tr>
                    <td>
                        <ul class="mains">
                            <li><strong>Hauptspeisen f端r gesamte Woche</strong></li>
                            <% bitsAndBytes[0].mains.forEach(function (menu) { %>
                                <li><%= menu.name + " " + menu.entries[0].name %></li>
                            <% }); %>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="villa-lido">
        <td class="namecol"><span class="name">Villa Lido</span></td>

        <% for(let i = 0; i < 5; i++) { %>
        <td class="datacol">
            <ul class="starters">
                <% villaLido[i].starters.forEach(function (food) { if (food.name!="") { %>
                <li><%= food.name %></li>
                <% }}); %>
            </ul>

            <ul class="mains">
                <% villaLido[i].mains.forEach(function (food) { if (food.name!="") { %>
                <li><%= food.entries[0].name %></li>
                <% }}); %>
            </ul>
        </td>
        <% } %>
    </tr>
    </tbody>
</table>

<script>  
    function toggleRow(name) {
        var cb = document.getElementById(name);
        var row = document.getElementsByClassName(name)[0];

        if(!cb || !row)
            return;

        row.style.display = cb.checked ? '' : 'none';
    }
</script>

</body>
</html>